In [2]:
!pip3 install pandas dash

/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: pandas in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (1.0.5)
Collecting dash
  Downloading dash-2.0.0-py3-none-any.whl (7.3 MB)
     |████████████████████████████████| 7.3 MB 20.4 MB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.2 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0.tar.gz (3.4 kB)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0.tar.gz (3.8 kB)
Collecting Flask>=1.0.4
  Downloading Flask-2.0.2-py3-none-any.whl (95 kB)
     |████████████████████████████████| 95 kB 9.7 MB/s  eta 0:00:01
Collecting flask-compress
  Downloading Flask_Compress-1.10.1-py3-none-any.whl (7.9 kB)
Collecting plotly>=5.0.0
  Downloading plotly-5.3.1-py2.py3-none-any.whl (23.9 MB)
     |████████████████████████████████| 23.9 MB 53.6 MB/s eta 0:00:01
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0.tar.gz (3.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Requirement already satisfied: Werkzeug>=2.0 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from Flask>=1.0.4->dash) (2.0.1)
Collecting click>=7.1.2
  Downloading click-8.0.3-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 15.8 MB/s eta 0:00:01
Collecting itsdangerous>=2.0
  Downloading itsdangerous-2.0.1-py3-none-any.whl (18 kB)
Collecting Jinja2>=3.0
  Downloading Jinja2-3.0.2-py3-none-any.whl (133 kB)
     |████████████████████████████████| 133 kB 66.1 MB/s eta 0:00:01
Collecting brotli
  Downloading Brotli-1.0.9-cp37-cp37m-manylinux1_x86_64.whl (357 kB)
     |████████████████████████████████| 357 kB 55.7 MB/s eta 0:00:01
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from click>=7.1.2->Flask>=1.0.4->dash) (1.6.1)
Collecting MarkupSafe>=2.0
  Downloading MarkupSafe-2.0.1-cp37-cp37m-manylinux2010_x86_64.whl (31 kB)
Requirement already satisfied: zipp>=0.5 in /opt/conda/envs/Python-3.7-OpenCE/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->click>=7.1.2->Flask>=1.0.4->dash) (3.1.0)
Building wheels for collected packages: dash-core-components, dash-html-components, dash-table
  Building wheel for dash-core-components (setup.py) ... done
  Created wheel for dash-core-components: filename=dash_core_components-2.0.0-py3-none-any.whl size=3804 sha256=388a293774d7531a5a8167c27f40986e36daa367269e9dd643191188dd787f35
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/00/f9/c7/1a6437d794ed753ea9bc9079e761d4fc803a1f1f5d3697b9ec
  Building wheel for dash-html-components (setup.py) ... done
  Created wheel for dash-html-components: filename=dash_html_components-2.0.0-py3-none-any.whl size=4069 sha256=b08eabeb650a38d7eb4b57c08032b69b48607c1120641e7642f783ec04459be0
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/ec/6b/81/05aceabd8b27f724e2c96784016287cc1bfbc349ebfda451de
  Building wheel for dash-table (setup.py) ... done
  Created wheel for dash-table: filename=dash_table-5.0.0-py3-none-any.whl size=3897 sha256=d725643b7ea07f49379b9d2b8c59c7e245c7756021f4e4cf1713c4db9d2272b1
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/85/5d/4e/7c276b57992951dbe770bf5caad6448d0539c510663aefd2e2
Successfully built dash-core-components dash-html-components dash-table
ERROR: jupyterlab 2.2.6 has requirement jupyterlab_server<2.0,>=1.1.5, but you'll have jupyterlab-server 1.1.0 which is incompatible.
Installing collected packages: dash-core-components, dash-html-components, click, itsdangerous, MarkupSafe, Jinja2, Flask, brotli, flask-compress, tenacity, plotly, dash-table, dash
  Attempting uninstall: click
    Found existing installation: Click 7.0
    Uninstalling Click-7.0:
      Successfully uninstalled Click-7.0
  Attempting uninstall: MarkupSafe
    Found existing installation: MarkupSafe 1.1.1
    Uninstalling MarkupSafe-1.1.1:
      Successfully uninstalled MarkupSafe-1.1.1
  Attempting uninstall: Jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
  Attempting uninstall: plotly
    Found existing installation: plotly 4.8.2
    Uninstalling plotly-4.8.2:
      Successfully uninstalled plotly-4.8.2
Successfully installed Flask-2.0.2 Jinja2-3.0.2 MarkupSafe-2.0.1 brotli-1.0.9 click-8.0.3 dash-2.0.0 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 flask-compress-1.10.1 itsdangerous-2.0.1 plotly-5.3.1 tenacity-8.0.1

In [3]:
!wget "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/spacex_launch_dash.csv"

--2021-11-05 16:36:50--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/spacex_launch_dash.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3033 (3.0K) [text/csv]
Saving to: ‘spacex_launch_dash.csv’

spacex_launch_dash. 100%[===================>]   2.96K  --.-KB/s    in 0s

2021-11-05 16:36:50 (90.9 MB/s) - ‘spacex_launch_dash.csv’ saved [3033/3033]

In [4]:
!wget "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_3/spacex_dash_app.py"

--2021-11-05 16:37:12--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_3/spacex_dash_app.py
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2110 (2.1K) [text/x-python]
Saving to: ‘spacex_dash_app.py’

spacex_dash_app.py  100%[===================>]   2.06K  --.-KB/s    in 0s

2021-11-05 16:37:12 (60.1 MB/s) - ‘spacex_dash_app.py’ saved [2110/2110]

In [25]:
# Import required libraries
import pandas as pd

import plotly.express as px

In [27]:
spacex_df = pd.read_csv("spacex_launch_dash.csv")
spacex_df.head()

,Unnamed: 0,Flight Number,Launch Site,Mission Outcome,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,Success,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,Success,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,Success,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,Success,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,Success,0,677.0,F9 v1.0 B0007,v1.0

In [67]:
#d=pd.DataFrame(spacex_df[["class","Launch Site"]]).groupby(["Launch Site"])["class"].sum().reset_index()
dr=pd.DataFrame(spacex_df[["class","Launch Site"]].groupby(["Launch Site"])["class"].sum().reset_index())
dr

    Launch Site  class
0   CCAFS LC-40      7
1  CCAFS SLC-40      3
2    KSC LC-39A     10
3   VAFB SLC-4E      4

In [116]:
s0=pd.DataFrame(spacex_df.loc[(spacex_df["Launch Site"]=="CCAFS LC-40") & (spacex_df["class"]==0)])
s=pd.DataFrame(spacex_df.loc[(spacex_df["Launch Site"]=="CCAFS LC-40")])
s1=pd.DataFrame(spacex_df.loc[(spacex_df["Launch Site"]=="CCAFS LC-40") & (spacex_df["class"]==1)])
s1=pd.DataFrame(s1.groupby(["Launch Site"])["class"].count().reset_index())
s0=pd.DataFrame(s0.groupby(["Launch Site"])["class"].count().reset_index())
d=pd.concat([s0,s1],axis=0)
d

   Launch Site  class
0  CCAFS LC-40     19
0  CCAFS LC-40      7

In [120]:
x=pd.DataFrame(s.groupby(["class"]).count().reset_index())[["Unnamed: 0","class"]]
x

   Unnamed: 0  class
0          19      0
1           7      1

In [126]:
data=pd.DataFrame(spacex_df.loc[(spacex_df["Launch Site"]=="CCAFS LC-40") & (spacex_df["Payload Mass (kg)"]>= 0) & (spacex_df["Payload Mass (kg)"]<= 7500)])
data

,Unnamed: 0,Flight Number,Launch Site,Mission Outcome,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,Success,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,Success,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,Success,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,Success,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,Success,0,677.0,F9 v1.0 B0007,v1.0
5,5,7,CCAFS LC-40,Success,0,3170.0,F9 v1.1,v1.1
6,6,8,CCAFS LC-40,Success,0,3325.0,F9 v1.1,v1.1
7,7,9,CCAFS LC-40,Success,0,2296.0,F9 v1.1,v1.1
8,8,10,CCAFS LC-40,Success,0,1316.0,F9 v1.1,v1.1
9,9,11,CCAFS LC-40,Success,0,4535.0,F9 v1.1,v1.1
10,10,12,CCAFS LC-40,Success,0,4428.0,F9 v1.1 B1011,v1.1
11,11,13,CCAFS LC-40,Success,0,2216.0,F9 v1.1 B1010,v1.1
12,12,14,CCAFS LC-40,Success,0,2395.0,F9 v1.1 B1012,v1.1
13,13,15,CCAFS LC-40,Success,0,570.0,F9 v1.1 B1013,v1.1
14,14,16,CCAFS LC-40,Success,0,4159.0,F9 v1.1 B1014,v1.1
15,15,17,CCAFS LC-40,Success,0,1898.0,F9 v1.1 B1015,v1.1
16,16,18,CCAFS LC-40,Success,0,4707.0,F9 v1.1 B1016,v1.1
17,17,19,CCAFS LC-40,Failure (in flight),1,1952.0,F9 v1.1 B1018,v1.1
18,18,20,CCAFS LC-40,Success,1,2034.0,F9 FT B1019,FT
19,19,22,CCAFS LC-40,Success,0,5271.0,F9 FT B1020,FT
20,20,23,CCAFS LC-40,Success,1,3136.0,F9 FT B1021.1,FT
21,21,24,CCAFS LC-40,Success,1,4696.0,F9 FT B1022,FT
22,22,25,CCAFS LC-40,Success,1,3100.0,F9 FT B1023.1,FT
23,23,26,CCAFS LC-40,Success,0,3600.0,F9 FT B1024,FT
24,24,27,CCAFS LC-40,Success,1,2257.0,F9 FT B1025.1,FT
25,25,28,CCAFS LC-40,Success,1,4600.0,F9 FT B1026,FT